/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

body * {
	box-sizing: border-box;
}

body {
	background-image: url(images/form.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-size: 35% 100%;
	display: flex;
}

.logo {
	height: 100px;
	width: 100px;
	position: relative;
}

.white-background {
	width: 35%;
	background-color: rgb(255, 255, 255);
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
	align-self: center;
	position: relative;
	top: 50%;
}

.form-container {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro p {
	font-size: 3rem;
	padding-top: 150px;
	background-color: #f2f2f3;
	padding: 75px;
}

.intro h1 {
	font-size: 3rem;
	padding: 20px 75px 30px 75px;
}

form {
	padding: 0 75px;
	border-top: none;
	box-shadow: 0 3px 1px 1px #e5e7eb;
}

label {
	display: block;
	font-size: 1.6rem;
	margin-top: 10px;
}

.names,
.contact,
.passwords {
	display: flex;
	gap: 50px;
}

input {
	height: 30px;
	width: 250px;
	border: 1px solid #e5e7eb;
}

input:focus {
	border-color: #0a56e2;
	box-shadow: 1px 1px 1px 1px #0a56e2;
	outline: none;
	border-radius: 3px;
}

.form-details {
	padding-bottom: 50px;
}

button {
	background-color: #528822;
	border: none;
	border-radius: 5px;
	height: 40px;
	font-size: 1.6rem;
	color: white;
	margin: 30px 0 30px 75px;
	width: 200px;
	cursor: pointer;
}

h3 {
	font-size: 1.8rem;
	margin-left: 75px;
	margin-bottom: 30px;
}

.login {
	color: #528822;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: white;
}
